.r1 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
.r2 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
.r3 {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}

tr {
    height: 90px;
}
td {
    width: 90px;
}

#board {
    overflow: scroll;
}
#sideboard {
    height: 120px;
}

#candidate {
    display: block;
    margin: auto;
    padding: 15px;
}
